{% extends 'base.html' %}

{% block title %}Añadir Producto{% endblock %}

{% block content %}


<div>
    <h3>Añadir Nuevo Producto</h3>
</div>

<div class="recuadro">
    <form method="POST">

        <label for="nombre">Nombre:</label><br>
        <input type="text" name="nombre" id="nombre" required><br><br>

        <label for="precio">Precio ($):</label><br>
        <input type="number" name="precio" id="precio" step="0.01" required><br><br>

        <label for="stock">Stock:</label><br>
        <input type="number" name="stock" id="stock" required><br><br>

        <label for="categoria">Categoría:</label><br>
        <input type="text" name="categoria" id="categoria" required><br><br>

        <button type="submit">Añadir Producto</button>

    </form>
</div>

{% if mensaje %}
    <p class="mensaje"><strong>{{ mensaje }}</strong></p>
{% endif %}

{% endblock %}
