<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TecnoMarket{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <div class="pagina">
        <header>
            <h1 class="titulo">TecnoMarket</h1>
           <nav>
            {% if session.rol == 'admin' %}
                <a href="{{ url_for('dashboard') }}">Panel Admin</a>|
                <a href="{{ url_for('anadir_producto') }}">Añadir Producto</a>|
                <a href="{{ url_for('lista_usuarios') }}">Usuarios</a>|
            {% else %}
            {% endif %}
                
            {% if session.rol == 'Cliente' %}
                <a href="{{ url_for('ver_carrito') }}">Carrito</a>|
            {% else %}
            {% endif %}
    
            {% if session.get('usuario_id') %}
                <a href="{{ url_for('ver_productos') }}">Productos</a>|
                <a href="{{ url_for('ver_pedidos') }}">Pedidos</a>|
                <a href="{{ url_for('logout') }}">Logout</a>
    
    
            {% else %}
                <a href="{{ url_for('login')}}">Iniciar sesion</a>|
                <a href="{{ url_for('registro_usuario')}}">Registrarse</a>
            {% endif %}
                
        
            </nav>

            <br>

        </header>
    
        <main>
            {% block content %}{% endblock %}
        </main>
    
        <footer>
            <p>Desarrollado por Jannik y Alejandro- {{ fecha.year }}</p>
        </footer>
    </div>
    
</body>
</html>
