<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TecnoMarket{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>TecnoMarket</h1>
       <nav>
            <ul>

            {% if session.rol == 'admin' %}
                <li><a href="{{ url_for('dashboard') }}">Panel Admin</a></li>
                <li><a href="{{ url_for('anadir_producto') }}">Añadir Producto</a></li>
                <li><a href="{{ url_for('lista_usuarios') }}">Usuarios</a></li>
            {% else %}
            {% endif %}
            
            {% if session.rol == 'Cliente' %}
                <li> <a href="{{ url_for('ver_carrito') }}">Carrito</a></li>
            {% else %}
            {% endif %}

            {% if session.get('usuario_id') %}
                <li><a href="{{ url_for('ver_productos') }}">Productos</a></li>
                <li><a href="{{ url_for('ver_pedidos') }}">Pedidos</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>


            {% else %}
                <li><a href="{{ url_for('login')}}">Iniciar sesion</a></li>
                <li><a href="{{ url_for('registro_usuario')}}">Registrarse</a></li>
            {% endif %}
            
            </ul>
        </nav>  
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Desarrollado por Jannik y Alejandro- {{ fecha.year }}</p>
    </footer>
</body>
</html>
