{% extends 'base.html' %}
{% block title %}Carrito de Compras{% endblock %}
{% block content %}
<div>
<h3>Carrito de {{ session.nombre }}</h3>
{% if carrito %}
</div>


<div class="recuadro">
  <br>
  {% for item in carrito %}
    <ul>
        
        <li>{{ item.nombre }} - Cantidad: {{ item.cantidad }} - Precio unitario: ${{ item.precio }}

            <form action="{{ url_for('restar_producto', producto_id=item.producto_id) }}" method="POST" style="display:inline;">
                <button type="submit">-</button>
            </form>

            <form action="{{ url_for('sumar_producto', producto_id=item.producto_id) }}" method="POST" style="display:inline;">
                <button type="submit">+</button>
            </form>

            <form action="{{ url_for('eliminar_del_carrito', producto_id=item.producto_id) }}" method="POST" style="display:inline;">
                <button type="submit">Eliminar</button>
            </form>
        </li>
        
    </ul>
    {% endfor %}
    <br>
  </div>
    
    
  <div class="centrado">
    <p><strong>Total: ${{ total }}</strong></p>
  </div>
  <form class="centrado"  action="{{ url_for('comprar', usuario_id=usuario_id) }}" method="POST"  onsubmit="return confirm('¿Estas seguro de hacer la compra?')">
    <button type="submit">Comprar</button>
  </form>

  <form class="centrado" action="{{ url_for('vaciar_carrito') }}" method="POST">
      <button type="submit">Vaciar carrito</button>
  </form>

{% else %}
    <p class="centrado">Tu carrito está vacío.</p>
{% endif %}
<form class="centrado" action="{{url_for('ver_productos')}}">
  <button type="submit">Seguir comprando</button>
</form>
{% endblock %}
