{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h3>Productos</h3>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio ($)</th>
            <th>Stock</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td> {{ producto._id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>
                {% if producto.stock == 0 %}
                    <span class="agotado">Agotado</span>
                {% else %}
                    {{ producto.stock }}
                {% endif %}
            </td>
            <td>{{ producto.categoria }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="centrado"><strong>Total en stock:</strong> {{ total_stock }}</p>

<hr>

<h3>Clientes</h3>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Estado</th>
            <th>N° de pedidos</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente._id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.email }}</td>
            <td>
                {% if cliente.activo%}
                Activo
                {%else%}
                Inactivo
                {%endif%}
            </td>
            <td>{{ cliente.pedidos }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="centrado"><strong>Clientes activos:</strong> {{ clientes_activos }}</p>
<p class="centrado"><strong>Cliente con más pedidos:</strong> {{ cliente_pedido.nombre }} ({{ cliente_pedido.pedidos }} pedidos)</p>

<hr>

<h3>Pedidos</h3>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Total ($)</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido._id }}</td>
            <td>{{ pedido.Nombre }}</td>
            <td>{{ pedido.total }}</td>
            <td>{{ pedido.fecha }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="centrado"><strong>Total de ingresos:</strong> ${{ total }}</p>

{% endblock %}
