{% extends 'base.html' %}
{% block title %}Lista de Pedidos{% endblock %}
{% block content %}
<h1>Pedidos Realizados</h1>
    {% for pedido in pedidos_usuario %}

    <ul>
        <li>{{ pedido._id }}</li>
        <li>{{ pedido.Nombre }}</li>

        {% for producto in pedido.productos%}
            <li>{{ producto.nombre}}</li>
            <li>{{ producto.precio}}</li>
            <li>{{ producto.cantidad}}</li>
        {% endfor %}

        <li>{{ pedido.total }}</li>
        <li>{{ pedido.estado }}</li>

        {% if pedido.estado == "Preparacion"%}
            <form action="{{ url_for('cancelar', pedido_id=pedido._id) }}" method="POST" style="display:inline;" onsubmit="return confirm('¿Estas seguro de cancelar?')">
                <button type="submit">Eliminar</button>
            </form>
        {% else %}
        {% endif %}
            
        </ul>
            
    {% endfor %}
{% endblock %}