{% extends 'base.html' %}
{% block title %}Registro de Usuario{% endblock %}
{% block content %}
<div>
    <h1>Registro de Usuario</h1>
</div>
<div>
    <form method="post">
        <label>Nombre:</label><input type="text" name="nombre" required><br>
        <label>Email:</label><input type="email" name="email" required><br>
        <label>Contraseña:</label><input type="password" name="contraseña" required><br>
        <label>Activo:</label> 
        <input type="radio" name="actividad" value="True" id="activo" checked>
        <label for="activo">Activo</label>
        <input type="radio" name="actividad" value="False" id="inactivo">
        <label for="inactivo">Inactivo</label><br>
        <button type="submit">Registrar</button>
    </form>
</div>
{% if mensaje %}
<p class="mensaje">{{ mensaje }}</p>
{% endif %}
{% endblock %}
